.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    max-width: 100%;
}
.logo_name{
    color: #D46F2B;
    font-weight: 700;
    font-size: 1.5em;
    min-width: 25%;
}
.logo_name:hover{
    color: rgb(212, 111, 43, 0.7);
}
.mw-25{
    min-width: 25%;
}
.text_left{
    text-align: left;
}
.text_center{
    text-align: center;
}
.text_right{
    text-align: right;
}
.d-flex{
    display: flex;
}
.j-end{
    justify-content: flex-end;
}