.footer{
    min-width: calc(100% - 96px);
    background-color: #FFEBD6;
    position: fixed;
    bottom: 0;
    padding: 20px 48px 20px 48px;
    display: flex;
    justify-content: space-between;
}
.location{
    max-width: 25%;
    min-width: 25%;
}
.location_text_icon{
    display: flex;
}
.location_text_icon img{
    margin-right: 8px;
}
.icon_label{
  flex-shrink: 0;
  width: auto; 
  height: auto; 
  white-space: pre;
  overflow: visible;
  font-weight: 900;
  color: var(--token-9992b651-c564-49cb-a840-03c8ca160a24, #433d39);
  font-size: 24px;
  letter-spacing: -0.8px;
  line-height: 1.2;
  text-align: center;
}
.active_hours{
    max-width: 25%;
    min-width: 25%;
}
img{
    height: 24px;
}
label{
    font-size: 16px;
    font-weight: 600;
}
.m-block-0{
    margin-top: 0;
    margin-bottom: 0;
}
.d-flex{
    display: flex;
}
.j-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}